#tabs{
  padding: 125px 0 125px;
}

.tabs__wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tabs__tab{
  margin-right: 25px;
  /* width: 10%; */
}

.tabs__tab button{
  display: block;
  width: 110px;
  height: 110px;
  border-radius: 5px;
  background-color: #333333;
  color: #fff;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.tabs__tab button:last-child{
  margin-bottom: 0;
}

.tabs__tab button:hover{
  background-color: #e6e1e1cc;
  color: #333333;
}

.tabs__tab button:focus{
  background-color: #EC7979;
  border: none;
}

.tabs__but-content{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  /* position: relative; */
  width: 45%;
  margin-right: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #86878B;
  text-transform: uppercase;
}

#tabs__subtitle{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

#tabs__subtitle::after{
  width: 0px;
  height: 0px;
}

.tabs__button{
  /* position: absolute; */
  left: 0;
  bottom: 0;
  width: 135px;
  height: 45px;
  border: none;
  background-color: #EC7979;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.3s;
}

.tabs__button:hover{
  background-color: rgba(236, 121, 121, 0.8);
  color: black;
}

.tabs__img{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tabs__img img{
  width: 100%;
}

