#testimonials {
  padding: 80px 0;
  background-color: #E5E5E5;
}
.testimonials_wrap {
  display: flex;
  justify-content: space-around;
  margin: 0 -15px;
  flex-wrap: wrap;
}
.card{
margin: 1px 15px 30px;
/*background-color: #2b54b1;*/
box-shadow: 0px 10px 20px 5px #2b54b1;
padding: 10px;
border-radius: 8px;
}
 .card_text-review {
 	position: relative;
  background-color: #c2c1ef;
  border-radius: 7px;
  padding: 15px;
  height: 100%;
  text-align: center;
  align-self: stretch;
 }
 .card_text-review:before {
 	content: ' ';
 	left: 79px;
 	bottom: -11px;
 	width: 0;
 	height: 0;
 	border-style: solid;
 	border-width: 11px 15px 0 15px;
 	border-color: #c2c1ef transparent transparent transparent;
    position: absolute;
 }  

 .card_content-person{
 margin-top: 15px;
 display: inline-flex;
 /*align-items: center;*/
 justify-content: flex-start;
 flex-direction: row;
 }
 .card_foto {
  height: 70px;
  width: 70px;
  border: 1px solid #E5E5E5;
  border-radius: 50%;
  margin: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.card_foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.person {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;


}
p.person {
	margin-bottom: : 10px;
}
.person_prof {
	/*margin:  10px;*/
}
@media (max-width: 770px) {
  #testimonials {
    padding: 40px 0;
  }
}@media (max-width: 530px) {
  #testimonials {
    padding: 10px 0;
  }
}